*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font: 62.5% 'Mukta', sans-serif;
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  font: 1rem 'Mukta', sans-serif;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #0c0c0c;
  color: #555;
  font-size: 1rem;
}

button {
  background: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea {
  appearance: none;
}